* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background: #0a3d62;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  background: #f1f2f6;
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero button {
  padding: 12px 25px;
  background: #0a3d62;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px 20px;
}

.card {
  background: #dff9fb;
  padding: 25px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
}

.contact {
  background: #f6e58d;
  text-align: center;
  padding: 50px 20px;
}

.contact h2 {
  margin-bottom: 10px;
}


footer {
  background: #130f40;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .hero h2 {
    font-size: 26px;
  }
}